<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}">
	<meta name="keywords" content="{{ keywords }}">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script type="text/javascript">{{ boot }}</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-8911157-6']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<script type="text/javascript">wn.require('js/app.js');</script>
</head>
<body>
	<div class="outer">
	<div class="header"></div>
	<div class="container shadow">
		<div class="four columns">
			<div>
				<div class="sidebar">
					<div><image class="logo-img" src="images/erpicons200x200.gif"></div>
						<div class="logo">erpnext.org</div>
					<nav>
							{{ nav }}
					</nav>
				</div>
			</div>
		</div>
		<div class="twelve columns">
			<div class="inner">
				<div class="content current_page" _src="{{ src }}">{% block content %}{% endblock %}</div>
			</div>
		</div>
	</div>
	<div class="footer">
		Brought you by Web Notes Technologies | All rights and wrongs reserved		
	</div>
</body>